.team {

	margin-bottom: 94px;
	@media (min-width: 576px) {
		margin-bottom: 50px;
	}
	@media (min-width: 768px) {
		margin-bottom: 70px;
	}

	&__container {
		display: grid;
		grid-template-columns: 1fr;
		@media (min-width: 1024px) {
			grid-template-columns: min-content 1fr;
			gap: 30px;
			align-items: flex-end;
		}
		@media (min-width: 1920px) {
			align-items: center;
		}
	}
	&__imgWrapper {
		display: block;
		margin-bottom: 30px;
		@media (min-width: 576px) {
			max-width: 73.53%;
		}
		@media (min-width: 768px) {
			margin-bottom: 40px;
			max-width: 73.91%;
		}
		@media (min-width: 1024px) {
			max-width: 100%;
			width: 30.9vw;
			margin-bottom: 0;
		}
	}
	&__info {
		@media (min-width: 1366px) {
			margin-bottom: 44px;
		}
		@media (min-width: 1920px) {
			margin-bottom: 0px;
		}
	}
	&__title {
		margin-bottom: 20px;
		line-height: 1.1;
		@media (min-width: 768px) {
			margin-bottom: 30px;
		}
		@media (min-width: 1024px) {
			margin-bottom: 20px;
		}
	}
	&__textBlock {
		margin-bottom: 20px;
		@media (min-width: 768px) {
			margin-bottom: 30px;
		}
		@media (min-width: 1024px) {
			margin-bottom: 20px;
		}
	}
	&__text {
		line-height: 1.4;
		@media (min-width: 768px) {
			line-height: 1.5;
			font-size: 18px;
		}
	}
	&__imgList {
		display: flex;
		gap: 25px;
		@media (min-width: 576px) {
			gap: 30px;
		}
		@media (min-width: 1024px) {

		}
	}
}