.hero {
	margin-top: 60px;
	margin-bottom: 74px;
	@media (min-width: 576px) {
		margin-top: 50px;
	}
	@media (min-width: 768px) {
		margin-top: 0;
		margin-bottom: 70px;
	}
	&__container {
		@media (min-width: 576px) {
			display: grid;
			grid-template-columns: 38% 1fr;
			gap: 30px;
		}
		@media (min-width: 768px) {
			grid-template-columns: 1fr 1fr;
		}
		@media (min-width: 1440px) {
		}
	}
	&__imgWrapper {
		display: none;
		@media (min-width: 576px) {
			display: block;
		}
		@media (min-width: 1440px) {
			justify-self: flex-end;
		}
	}
	&__info {
		@media (min-width: 768px) {
			align-self: center;
		}
	}
	&__title {
		font-size: 30px;
		margin-bottom: 20px;
		line-height: 1;
		& > span {
			color: #598D66
		}
		@media (min-width: 576px) {
			font-size: 36px;
			margin-bottom: 10px;
		}
		@media (min-width: 768px) {
			font-size: 40px;
			margin-bottom: 20px;
		}
		@media (min-width: 1440px) {
			font-size: 40px;
			line-height: 1.1;
		}
	}
	&__description {
		color: #86928B;
		font-size: 14px;
		line-height: 1.5;
		margin-bottom: 40px;
		@media (min-width: 576px) {
			font-size: 14px;
		}
		@media (min-width: 768px) {
			font-size: 18px;
			margin-bottom: 40px;
		}
		@media (min-width: 1440px) {
			margin-bottom: 60px;
		}
	}
	&__button {
		padding: 14px 29px;
		font-size: 18px;
		color: #598D66;
		border: 1px solid #598D66;
		&:hover {
			color: #F4F6F5;
			background-color: #598D66;
		}
		&:focus {
			color: #598D66;
			background-color: #D4E8D9;
		}
		&:active {
			color: #fff;
			background-color: #376B44;
		}
		@media (min-width: 576px) {
			padding: 15px 41px;
		}
		@media (min-width: 768px) {
			padding: 18px 51px;
			font-size: 20px;
		}
		@media (min-width: 1440px) {
			padding: 21px 60px;
		}
	}
}
