.container {
	padding: 0 15px;
	margin: 0 auto;
	@media (min-width: 576px) {
		padding: 0 33px;
	}
	@media (min-width: 768px) {
		padding: 0 39px;
	}
	@media (min-width: 1366px) {
		padding: 0 165px;
	}
}